.background{
    background-color:white;
    background-size:cover;
    height:130vh;
    padding:20px;
}

.button{
    width:100px;
    height:100px;
    border-radius:20px;
    border-width:3px;
    border-style:solid;
    margin-bottom:10px;
    font-family:"Roboto";
}

.button1{
    background: color #e0e0e0;
}

.button2{
    background-color:#6fcf97;
}

.button3{
    background-color:#56ccf2;
}

.button4{
    background-color:#bb6bd9;
}

.heading-card{
    background-color:rgb(179, 240, 11);
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    font-size:25px;
    color:white;
    padding:20px;
    font-family:"Roboto";
}
.para{
    color:rgb(220, 33, 220);
    font-size:25px;
    font-family:"Roboto";
}

